site_url: https://nextstop-car-reservations/
logo_url: https://ntn-boilerplate.netlify.app/icon.png

publish_mode: editorial_workflow
backend:
  name: git-gateway
  branch: master

media_folder: static/img
public_folder: /img

# Docs: https://www.netlifycms.org/docs/configuration-options/#collections
collections:
  - label: 'Site settings'
    name: 'site'
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    files:
      - label: 'Info'
        name: 'info'
        file: 'assets/content/site/info.json'
        format: 'json'
        editor:
          preview: false
        fields:
          - { label: Site Name, name: sitename, widget: string, hint: 'This is used for the site title' }
          - {
              label: Site Description,
              name: sitedescription,
              widget: string,
              hint: 'This is used as descriptive text for links that link to this site',
            }
          - {
              label: Site Language,
              name: sitelang,
              widget: string,
              pattern: ['^[a-z]{2}([-])?([A-Za-z]{2})?$', 'Must match "xx" or "xx-XX" syntax (ex. "en" or "sv-SE")'],
            }
          # - { label: Site Email, name: siteemail, widget: string, required: false }

  - name: 'car'
    label: 'Car'
    folder: 'assets/content/cars'
    create: true
    format: 'json'
    fields: 
      - {label: 'VIN', name: 'vin', widget: 'string'}
      - {label: 'Producent', name: 'brand', widget: 'string'}
      - {label: 'Model', name: 'model', widget: 'string'}
      - {label: 'Segment', 
         name: 'segment', 
         widget: 'select',
         options: ['A','B','C','D','E','F']
      }
      - {label: 'Skrzynia biegów', name: 'transmission', widget: 'select', options: ['Automatyczna', 'Manualna']}
      - {label: 'Rodzaj silnika', name: 'engineType', widget: 'select', options: ['Benzyna', 'Diesel', 'Elektryczny', 'Hybryda']}
      - {label: 'Liczba miejsc', name: 'seats', widget: 'number', value_type: 'int'}
      - {label: 'Pojemność bagażnika', name: 'trunkCapacity', widget: 'number', value_type: 'int'}
      - {label: 'Cena', name: 'price', widget: 'number', value_type: 'float'}
      - {label: 'Zdjęcie', name: 'img', widget: 'image'}
      - {label: 'Lokalizacje', name: 'locations', widget: 'list', summary: '{{fields.location}}', field: {label: 'Lokalizacja', name: 'location', widget: 'string'}}