* {
    font-family: Georgia;
}

.menu {
    width: 23%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    opacity: 0.85;
}

.back_btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.login_buttons {
    position: absolute;
    bottom: 20px;
}

.menu_buttons {
    position: absolute;
    top: 70px;
    width: 100%;
    color: #ffffff;
    background-color: #ffffff;
}

.menu_btn1,
.menu_btn2,
.menu_btn3 {
    display: inline-block;
    margin-top: 13px;
    margin-bottom: 12px;
    margin-left: 10px;
}

.btn_img1,
.btn_img2,
.btn_img3 {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
}

.menu_btn1:hover+.btn_img1 {
    display: inline;
}

.menu_btn2:hover+.btn_img2 {
    display: inline;
}

.menu_btn3:hover+.btn_img3 {
    display: inline;
}

.header_img {
    height: 15%;
    width: 25%;
    position: absolute;
    top: 10px;
    right: 20px;
}

.header {
    background-color: #57ba98;
    width: 100%;
    height: 110px;
}

.show_menu_btn {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
}

.main_page_btn {
    position: absolute;
    left: 110px;
    top: 0px;
    height: 100%;
}

.header_text {
    position: absolute;
    top: 40px;
    left: 400px;
    font-weight: 100;
}

.quick_reservation {
    width: fit-content;
    height: fit-content;
    margin-left: 100px;
    top: 25px;
    margin-bottom: 50px;
    padding: 30px;
}

.location_btn {
    margin-left: 5px;
    margin-right: 5px;
    max-width: 250px;
    width: 250px;
}

.data_btn {
    max-width: 250px;
    width: 250px;
}

.search_btn {
    left: 150px;
}

.car_examples_slider {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.car_post_slider {
    background-color: #ffffff;
    opacity: 0.65;
}

.background {
    background-color: #def2f1;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
}

.v-application--wrap {
    background-color: #def2f1;
}

.footer_img {
    height: 30px;
}

.footer_icon {
    position: relative;
    margin-left: 50px;
}

.footer_card {
    width: 100%;
}

.footer {
    padding: 0px;
    text-align: center;
}

.footer_text {
    padding-right: 100px;
    padding-left: 100px;
}

.show_models_segment {
    height: 50px;
    margin-bottom: 20px;
}

.models_card,
.segment_card {
    width: 60%;
}

.checkbox {
    margin-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.price_btn {
    width: 200px;
    height: 20%;
}

.sort_select {
    margin-right: 20px;
}

.container {
    padding-top: 50px;
    background-color: #def2f1;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.login_register_container {
    padding-top: 50px;
    background-color: #def2f1;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    min-height: 310px;
}

.car_description-text {
    display: inline;
}

.details_img {
    padding-top: 0px;
    padding-bottom: 0px;
}

.car_details_icon {
    height: 22px;
}

.car_details_background_div {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.car_description {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.locations_div {
    height: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.location_branch {
    margin-right: 15px;
    margin-left: 15px;
    max-width: 300px;
}

.google_maps_btn {
    position: absolute;
    left: 550px;
    right: 550px;
    margin-top: 10px;
    background-color: #ffffff;
    opacity: 70%;
}

.car_reservation_info {
    margin-left: 270px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
}

.car_reservation_div {
    position: fixed;
    z-index: 10;
    width: 700px;
    top: 60%;
    left: 50%;
    margin-top: -280px;
    margin-left: -340px;
}

.car_details_div {
    position: fixed;
    z-index: 10;
    width: fit-content;
    top: 40%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
}

.error {
    color: red;
    margin-top: 10px;
}

.reserve_car_btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.after_car_reservation_div {
    position: fixed;
    z-index: 10;
    width: fit-content;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -370px;
    text-align: center;
}

.car_reservation_client_info {
    padding-left: 0px;
    margin-left: 220px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
}

.car_reservation_client_info2 {
    margin-top: 20px;
}

.cancel_btn {
    margin-left: 20px;
}

.reservations_container {
    padding-left: 250px;
    padding-right: 250px;
}

.reservation_app {
    height: 200px;
    margin-bottom: 50px;
}

.select_new_status {
    width: fit-content;
    margin-left: 20px;
}

.confirm_status_change {
    margin-left: 20px;
    margin-bottom: 10px;
}

.reset_filts_btn {
    left: 30px;
    margin-bottom: 30px;
}

.test {
    position: absolute;
    bottom: 0px;
}

.add_new_admin_account {
    position: absolute;
    left: 50px;
}

.date_picker_menu1,
.date_picker_menu2 {
    width: 200px;
    max-width: 200px;
    margin-bottom: 100px;
    position: absolute;
    top: 190px;
}

.date_picker_menu1 {
    right: 400px;
}

.date_picker_menu2 {
    right: 150px;
}

.car_search {
    position: absolute;
    left: 25%;
    right: 25%;
    width: 50%;
    padding-bottom: 10px;
    top: 260px;
}

.v-text-field {
    margin-top: unset;
    padding-top: unset;
}

.car_reserve_info {
    padding-left: 30px;
    padding-right: 30px;
}

.car_table {
    padding-top: 200px;
}