* {
    font-family: Georgia;
}

.menu {
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    opacity: 90%;
}

.back_btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.login_buttons {
    position: absolute;
    bottom: 20px;
}

.menu_buttons {
    position: absolute;
    top: 70px;
    width: 100%;
    color: #ffffff;
    background-color: #ffffff;
}

.menu_btn1,
.menu_btn2,
.menu_btn3 {
    display: inline-block;
    margin-top: 13px;
    margin-bottom: 12px;
    margin-left: 10px;
}

.btn_img1,
.btn_img2,
.btn_img3 {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
}

.menu_btn1:hover+.btn_img1 {
    display: inline;
}

.menu_btn2:hover+.btn_img2 {
    display: inline;
}

.menu_btn3:hover+.btn_img3 {
    display: inline;
}

.header_img {
    height: 15%;
    width: 25%;
    position: absolute;
    top: 10px;
    right: 20px;
}

.header {
    background-color: #57ba98;
    width: 100%;
    height: 110px;
}

.show_menu_btn {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
}

.header_text {
    position: absolute;
    top: 40px;
    left: 250px;
}

.quick_reservation {
    width: fit-content;
    margin-left: 100px;
    top: 100px;
    margin-bottom: 80px;
    padding: 30px;
}

.location_btn {
    margin-left: 5px;
    margin-right: 5px;
}

.car_examples_slider {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    padding-bottom: 30px;
}

.car_post_slider {
    background-color: #ffffff;
    opacity: 65%;
}

.background {
    background-color: #def2f1;
    margin-left: 0px;
    margin-right: 0px;
    max-width: none;
}

.footer_img {
    height: 30px;
}

.footer_icon {
    position: relative;
    margin-left: 50px;
}

.footer_card {
    width: 100%;
}

.footer {
    padding: 0px;
    text-align: center;
}

.footer_text {
    padding-right: 100px;
    padding-left: 100px;
}

.car_search {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding-bottom: 10px;
}

.show_models_segment {
    height: 50px;
}

.models_card,
.segment_card {
    width: 60%;
}

.checkbox {
    margin-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.price_btn {
    width: 200px;
    height: 20%;
}

.sort_select {
    margin-right: 20px;
}

.car_description {
    display: inline-block;
    margin: 10px;
}

.container {
    padding-top: 50px;
}